<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="posthog" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PostHog</label>
            <tab>general</tab>
            <resource>Indexa_Posthog::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable PostHog</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable PostHog analytics on the storefront.</comment>
                </field>
                <field id="project_api_key" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PostHog Project API Key</label>
                    <comment><![CDATA[Your PostHog project API key (e.g. phc_...). Get it from your PostHog project settings.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="api_host" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Host</label>
                    <comment><![CDATA[PostHog API host URL (e.g. https://eu.i.posthog.com or https://us.i.posthog.com).]]></comment>
                </field>
                <field id="person_profiles" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Person Profiles</label>
                    <source_model>Indexa\Posthog\Model\Config\Source\PersonProfiles</source_model>
                    <comment>When to create person profiles. Use "Never" with cookieless mode.</comment>
                </field>
                <field id="cookieless_mode" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookieless Mode</label>
                    <source_model>Indexa\Posthog\Model\Config\Source\CookielessMode</source_model>
                    <comment><![CDATA[Default: cookieless always. Use "Cookieless until consent" to plug in a consent banner (opt_in/opt_out).]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
